@import "./color_schemes/dark";

// TradeFlow brand purple palette
$purple-000: #c4b5fd;
$purple-100: #a78bfa;
$purple-200: #8b5cf6;
$purple-300: #7c3aed;

$body-background-color: #0f0d1a;
$sidebar-color: #13111d;
$search-background-color: #1a1726;
$table-background-color: #16132a;
$code-background-color: #1a1726;
$feedback-color: darken($purple-300, 5%);

$link-color: $purple-100;
$btn-primary-color: $purple-300;
$search-result-highlight-color: $purple-200;
$border-color: #2a2540;

$body-heading-color: #f0ecff;
$body-text-color: #c9c5d9;
$nav-child-link-color: $purple-000;
$search-result-highlight-color: $purple-200;
